<div class="content" role="main">
  <h1>CSS Screen Ratio and Orientation</h1>

  <div>
    <h2>Aspect Ratio: {{ aspectRatio() }}</h2>
    <h2>Aspect Ratio Simplified: {{ aspectRatioSimplified() }}</h2>
    <h2>Aspect Ratio Height: {{ heightRatio() * 100 | number : "1.0-1" }}%</h2>
    <h2>Screen Size: {{ screenSize() }}</h2>
  </div>

  <div class="landscape"><h2>Orientation: Landscape</h2></div>
  <div class="portrait"><h2>Orientation: Portrait</h2></div>

  <div class="less-than"><h2>Screen Ratio <= 2/3</h2></div>
  <div class="greater-than"><h2>Screen Ratio > 2/3</h2></div>
</div>
